.clients {
    background: $dark-grey;
}

.container--clients {
    max-width: 50%;
}

.clients__image {
    margin: 50px auto;
    position: relative;
}

.clients__name {
    @extend .section-content;
    font-style: italic;
    margin-top: 20px;
}