.clients {
    background: $dark-grey;
}

.clients__image {
    margin: 50px auto;
    position: relative;
}

.clients__name {
    @extend .section-content;
    font-style: italic;
    margin-top: 20px;
}

.carousel-cell {
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
    text-align: center;
}