.gallery__list {
    display: flex;
    flex-wrap: wrap;
}

.gallery__item {
    flex: 0 0 25%;
    position: relative;
}

.gallery__image {
    width: 100%;
    height: 100%;
}

.gallery figure {
    height: 100%;
    position: relative;
}

.gallery__item:hover .gallery__image__caption{
    opacity: 1;
}

.gallery__image__caption {
    cursor: pointer;
    padding: 25%;
    text-align: center;
    position: absolute;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .5s;
}