.header {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/image-1.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    position: relative;
}


.header__nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
} 

.header__logo {
    font-size: 2.3rem;
}

.nav__item {
    display: inline-block;
    font-weight: 600;
    font-size: 1.4rem;
}

.nav__link {
    padding: 0 10px;
    display: block;
    text-transform: uppercase;
}

.nav__link:hover {
    animation: bounce .5s
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0);
    }
}

.header__content {
    opacity: 0;
    position: absolute;
    right: 20%;
    top: 40%;
    transform: translateY(0px);
    animation-name: opening;
    animation-duration: 1s;
    // animation-delay: .5s;
    animation-fill-mode: forwards;
}

@keyframes opening {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


.header__title {
    font-size: 6rem;
    padding: 0;
}

.header__caption {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0;
}

.header__content * {
    margin: 8px 0px;
}

.header__button {
    border: none;
    background: none;
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 2rem;
    display: none;
    cursor: pointer;
    z-index: 1000000000;
    text-shadow: 1px 2px 0.5px rgba(0,0,0,0.1);
}
