@media (max-width: 950px) {

    .gallery__item {
        flex-basis: 50%;
    }

    .testimonials__image {
        flex: 0 0 50%;
    }
    
    .testimonials__content {
        text-align: center;
        flex-basis: 100%;
    }

    .container--shoots {
        flex-direction: column;
    }

    .shoots__nav {
        padding: 20px 0px 0px 0px;
    }

    .shoots__nav__list {
        margin-left: 0;
        display: flex;
        justify-content: space-around;
    }

    .shoots__nav__items {
        display: inline;
    }

    .shoots__nav__items a {
        font-size: 1rem;
    }
}

@media (max-width: 895px)  {
   
    .header__button {
        display: block;
    }

    .header__logo {
        display: block;
        position: absolute;
        top: 35px;
        left: 30px;
    }

    .container.header__nav {
        max-width: 100%;
    }

    .header__nav {
        display: block;
    }

    .nav--header {
        opacity: 0;
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        animation: rise .5s;
        animation-fill-mode: forwards;
        
        .nav__item {
            display: block;
            height: 20vh;
            color: white;
            background: rgba(0, 0, 0, 0.5);
            border-bottom: 1px solid white;
            font-size: 20px;
            a {
                padding: calc(10vh - 20px) 0px;
            }
        }
        .nav__item:hover {
            background: rgba(0, 0, 0, 0.6);;
        }
    }

    @keyframes rise {
        0% {opacity: 0; right: -300px;}
        100% { opacity: 1; top: 0;}
    }

    .white {
        color: white;
    }
}

@media (max-width: 770px) {
    
    .container {
        padding: 50px 0px;
        max-width: 80%;
    }
    
    .services__item {
        flex-basis: 100%;
    }

    .news .section-heading {
        text-align: center;
    }
    .news__item {
        flex: 0 0 60%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {

    .gallery__image {
        flex-basis: 50%;
    }

    .gallery__image__caption {
        padding: 10%;
    }

    .shoots__nav {
        margin: 0;
    }

    .shoots__item {
        flex: 0 0 100%;
        margin: 0;
    }

    .footer__column {
        flex: 0 0 100%;
    }

    .footer__nav {
        display: none;
    }

}

@media (max-width: 470px) {

    .section-content {
        font-size: 1.2rem;
    }

    .header__content {
        left: 30px;
    }
}
