.news {
    background-color: $light-grey;

    .section-heading {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
}

.container--news {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
}

.news__item {
    flex: 0 0 30%;
    height: 100%;
}

.news__subtitle {
    font-size: 1.4rem;
    text-align: left;
}

.news__button {
    font-size: 1.4rem;
    color: $dark-blue;
    text-transform: uppercase;
}


.news__image {
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    
}
.image-container {
    position: relative;
}

.image-container:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30% 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: opacity .5s;
}