.services {
    background-color:$olive-green;

    .section-heading {
        flex: 0 0 100%;
    }
}

.container--services {
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.services__item {
    flex: 0 0 28%;
    * {
        padding: 8px 0px;
    }
}

.icon {
    font-size: 4rem;
}

.services__item:hover .icon {
    animation: pulse 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 1; 
}

@-webkit-keyframes pulse {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}