.services {
    background-color:$olive-green;


    .container {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .container__item {
        flex: 0 0 28%;
        * {
            padding: 8px 0px;
        }
    }

    .icon {
        font-size: 4rem;
    }
}

.wrapper--services {
    max-width: 60%;
}
