.shoots {
    background-color: #efefef;
}

.container--shoots {
    display: flex;
    width: 60%;
    flex-wrap: wrap;

    .subheading {
        padding: 10px 0px;
    }
}

.shoots__nav {
    background-color: #606060;
    flex: 0 0 calc(35% - 20px);
    margin: 10px;
    color: white;
    padding: 50px 0px;
}

.shoots__container {
    flex: 0 0 65%;
    display: flex;
    flex-wrap: wrap;
}

.shoots__nav__items {
    width: 100%;
    padding: 10px 0px;
    @extend .subheading;
    font-weight: 400;
}

.shoots__nav__items:hover {
    background-color: black;
}

.shoots__image {
    height: 100%;
    object-fit: contain;
}
.shoots__item {
    flex: 1 0 40%;
    margin: 10px;
    position: relative;
}

.shoots__item:hover .shoots__caption {
    opacity: 1;
}

.shoots__caption {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30% 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: opacity .5s;
}