.scroll {
  opacity: 0;
  transform: translate(0, 20px); 
  transition: all 1s;
}

.scroll.visible { 
  opacity: 1;
  transform: translate(0, 0); 
}

html {
    font-size: 62.5%
}

body {
    font-size: 1rem;
    font-family: $header-font;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
}

.section-heading {
    font-size: 3rem;
}

.section-content {
    font-family: $content-font;
    font-size: 1.8rem;
    line-height: 1.8;
}

.subheading {
    text-transform: uppercase;
    font-size: 2.2rem;
}

.subheading--white {
    @extend .subheading;
    color: white;
}

.subcontent {
    font-size: 1.1rem;
}

.subcontent--white {
    @extend .subcontent;
    color: white;
}

.button {
    text-transform: uppercase;
    background: none;
    border: 1px solid black;
    border-radius: 1.8rem;
    padding: 3px 25px;
    letter-spacing: 0.5rem;
    font-size: 1.2rem;
    transition: box-shadow .5s;
}

.button:hover {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
}

.button:active {
    transform: scale(0.98);
}

.container {
    width: 60%;
    max-width: 800px;
    margin: 0px auto;
    padding: 80px 0px;
    text-align: center;
}

.nav__item {
    display: inline-block;
    font-weight: 600;
    font-size: 1.4rem;
    position: relative;
}

.nav__link {
    padding: 0 10px;
    display: block;
    text-transform: uppercase;
}

.nav__item:hover {
    text-decoration: underline;
}

.nav__link {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .nav__link:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #606060;
    height: 2px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .nav__link:hover:before, .nav__link:focus:before, .nav__link:active:before {
    left: 0;
    right: 0;
  }