article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

img {
  max-width: 100%;
  display: block; }

a {
  text-decoration: none;
  color: inherit; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

body {
  font-size: 1rem;
  font-family: "Catamaran", sans-serif; }

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1; }

.section-heading {
  font-size: 3rem; }

.section-content, .clients__name {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  line-height: 1.8; }

.subheading {
  font-size: 2.2rem; }

.subcontent {
  font-size: 1.1rem; }

.button {
  text-transform: uppercase;
  background: none;
  border: 1px solid black;
  border-radius: 1.8rem;
  padding: 3px 25px;
  letter-spacing: 0.5rem;
  font-size: 1.2rem; }

.wrapper {
  margin: 0px auto;
  padding: 80px 0px;
  text-align: center; }

.header {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/image-1.jpeg);
  background-size: cover; }

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 60%;
  margin: 0 auto;
  padding-top: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__logo {
  font-size: 2.3rem; }

.nav__item {
  display: inline-block;
  font-weight: 600;
  font-size: 1.4rem;
  padding-left: 25px; }

.nav__link {
  text-transform: uppercase; }

.header__content {
  position: absolute;
  right: 20%;
  top: 50vh;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.header__title {
  font-size: 6rem;
  padding: 0; }

.header__caption {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0; }

.header__content * {
  margin: 8px 0px; }

.wrapper--welcome {
  text-align: center;
  max-width: 50%; }
  .wrapper--welcome .section-content, .wrapper--welcome .clients__name {
    margin: 50px 0px; }
  .wrapper--welcome span {
    color: #285d64; }

.services {
  background-color: #bec884; }
  .services .section-heading {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }

.wrapper--services {
  max-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 400px;
  text-align: center; }

.services__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 28%;
  flex: 0 0 28%; }
  .services__item * {
    padding: 8px 0px; }

.icon {
  font-size: 4rem; }

.wrapper--testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 60%;
  min-height: 600px; }
  .wrapper--testimonials .section-heading {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    text-align: center;
    margin-bottom: 30px; }

.testimonials__image {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 35%;
  flex: 1 0 35%;
  -ms-flex-item-align: center;
  align-self: center;
  height: auto;
  width: 100%; }

.testimonials__content {
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  margin: 20px;
  text-align: left; }
  .testimonials__content .subheading {
    margin-bottom: 30px; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.gallery__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%; }

.gallery__image {
  width: 100%;
  height: 100%; }

.gallery__image__caption {
  display: none; }

.clients {
  background: #efefef; }

.wrapper--clients {
  max-width: 50%; }

.clients__image {
  margin: 50px auto;
  position: relative; }

.clients__image::before {
  position: absolute;
  content: '?';
  color: black;
  font-size: 20px;
  left: -20px;
  z-index: 50px; }

.clients__name {
  font-style: italic;
  margin-top: 20px; }

.news {
  background-color: #f5f3f3; }
  .news .section-heading {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 30px; }

.wrapper--news {
  max-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .wrapper--news .news__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    position: relative; }

.news__subtitle {
  font-size: 1.4rem;
  text-align: left; }

.news__button {
  font-size: 1.4rem;
  background: none;
  border: none;
  color: #285d64;
  text-transform: uppercase;
  position: absolute;
  left: 0; }

.news__image {
  margin-bottom: 10px; }

.news__caption * {
  padding: 5px 0; }

.questions {
  background-color: #f2b094; }

.wrapper--questions {
  max-width: 50%; }

.question-form__input {
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: none;
  margin: 50px 0px;
  padding: 5px;
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 1; }
